@model IEnumerable<Stylepit.Models.Size>
@{
    ViewBag.Title = "SizeList";
    Layout = "~/Views/Shared/Backend/_Layout.cshtml";
}

<h2>SizeList</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <td>
                <label class="label label-primary">
                    Størrelse
                </label>
            </td>
            <td></td>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td class="text-right">
                <a href="/Admin/SizeEdit/@item.Id" class="btn btn-sm btn-default"><i class="fa fa-edit"></i></a>
                <a href="/Admin/SizeDelete/@item.Id" class="btn btn-sm btn-primary"><i class="fa fa-archive"></i></a>
            </td>
        </tr>
    }

</table>
<a href="/Admin/SizeCreate" class="btn btn-success"><i class="fa fa-plus"></i> tilføj</a>


